.git
.github
.cursor
**/node_modules
**/dist
**/.env
**/.env.*
!**/.env.example
**/uploads
**/*.log
**/.DS_Store
**/.turbo
coverage
apps/api/generated
apps/web/dist
*.png
!apps/web/public/**
!apps/api/prisma/demo-images/**
deploy/*.pem
